# Idea / PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# output-folders
container/
build/

# files from the mac
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class
